@*@model IEnumerable<TeamCode.Models.Entities.Project>*@

@{
    ViewBag.Title = "Index";
}

<h62>My Files</h62>

<p>List of My Files</p>

<a href='@Url.Action("CreateFile","MyFiles")'>
    <img src="http://img.freepik.com/free-icon/text-file-add-outlined-interface-button_318-74517.jpg?size=338&ext=jpg" style="width: 66px; height: 66px;" />
</a>

