
@{
    ViewBag.Title = "Index";
}

<h62>My Projects</h62>

<p>List of My Projects</p>


<a href='@Url.Action("/","MyProjects")'>
    <img src="https://cdn3.iconfinder.com/data/icons/files/100/237046-folder_add_plus-512.png" style="width: 66px; height: 66px;" />
</a>

