@model IEnumerable<TeamCode.Models.Entities.Project>
@using TeamCode.Helpers;
@{
    ViewBag.Title = "Index";
}

<h2>My Projects</h2>

<div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href='@Url.Action("CreateProject","MyProjects")'>
                <img alt="addProject" src="~/img/addFolder.png" style="width: 66px; height: 66px;" />
            </a>
            <div class="caption">
                <h3>New Project</h3>
                <div>

                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        string shorTitle = item.projectName.Length > 20 ? item.projectName.Substring(0, 20) + ".." : item.projectName;
        <div class="projectTable col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href='@Url.Action("Index","MyFiles", new { id = item.id })' class="folderImg">
                    <img alt="project" src="~/img/folder.png" style="width: 66px; height: 66px;" />
                </a>
                <div class="caption">
                    <h3>@shorTitle</h3>
                    <div class="editImg">
                        <a href="@Url.Action("Edit", "MyProjects", new { id = item.id })">
                            <img alt="project" src="~/img/editsvg.png" style="width: 33px; height: 33px;" />
                        </a>
                       
             
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>



