@model TeamCode.Models.CodeWriteViewModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("SaveCode", "CodeWrite", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
    <input type="submit" class="editorSave" value="Save" />
}

<div id="editor">
    @ViewBag.Code
</div>

@section scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
@*@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js")*@
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    $("form").submit(function() {
        $("#hidden_editor").val(editor.getSession().getValue());
    });
</script>
}