@{
    ViewBag.Title = "Support / FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>How do I register for a new account?</h4>
    <p>
    On the homepage you click on Sign up and you will see three fields that you need to fill out.
    First, you fill in your username which is your email account, then you need to choose a password
    and fill it in and then confirm it. After you've clicked the "Register" you have a new account!
    </p>
<h4>How do I create a new project?</h4>
    <p>
    When you login to your account, you're immediately transferred to your projects' site. You click on the folder picture
    that's called New Project and then your new project appears.
    </p>
<h4>How do I change the name of a project?</h4>
    <p>
    After you create a project you will see an edit button under the name of your project. If you click on it you will see 
    a field where you can fill in the name you want to have on your project. Click the save button and you have now changed the name of your project.
    If you decide not to change the name you can click on the Back to List link and you will be transferred to My Projects site.
    </p>



