@{
    ViewBag.Title = "Support / FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>How do I register for a new account?</h4>
<p>
    On the homepage you click on Register and you will see three fields that you need to fill out.
    First, you fill in your username which is your email account, then you need to choose a password
    and fill it in and then confirm it. After you've clicked the "Register" you have a new account!
</p>


